/*!
PLETHORA THEMES: Medicus HTML Template Documentation
URI: http://doc.plethorathemes.com/medicus-html/
Version: 1.0
Author: Plethora Themes
Author URI: http://www.plethorathemes.com
*/
/* 
    TABLE OF CONTENTS
=================================================================

    1. =BOOTSTRAP FRAMEWORK

    2. =DOC SPECIFIC STYLES

=================================================================
*/
/* 
================================================================= 

1. =BOOTSTRAP FRAMEWORK

================================================================= 
*/
@twitter-bootstrap: "../twitter-bootstrap/less";
@import "@{twitter-bootstrap}/bootstrap.less";
@import "custom_variables.less";

/* 
================================================================= 

2. =DOC SPECIFIC STYLES

================================================================= 
*/

.translate (@trans_x: 10px, @trans_y: 10px) {    
  -webkit-transform : translate(@trans_x,@trans_y); 
      -ms-transform : translate(@trans_x,@trans_y); 
          transform : translate(@trans_x,@trans_y);
}
 
.background_cover {
  -webkit-background-size : cover;
     -moz-background-size : cover;
       -o-background-size : cover;
  background-position     : center center;
  background-repeat       : no-repeat; 
  background-size         : cover;
}

.bgcolor_alpha(@alpha_color: #000000, @alpha_percentage: 50%) {
  background-color: @alpha_color;
  background-color: fade(@alpha_color, @alpha_percentage);
}

.theme-transition(@theme-transition: 300ms) {
  .transition(all @theme-transition ease-in-out);
  -webkit-overflow-scrolling: touch;
}  

img {
  max-width: 100%;
  border-radius: 3px;
}

a:hover, a:active, a:focus {color: @link-hover-color;text-decoration: none;}
a:focus {outline: none;}

a img {
  margin: 0px 10px 10px 0;
}

.youtube {
  & a {
    transition: all 180ms;
    &:hover {
      color: #3F2424;
    }
    color: #eaeaea;
  }
  background: #C03937;
  color: #eee;
  i.fa-youtube {
    font-size: 48px;
    float: left;
    margin-right: 10px;
  }
}

a:hover img {
  .translate(0px,-2px);
  .theme-transition(100ms);
}

iframe {border: none;}

.affix {position: relative;}

mark, .mark {
  background-color: @brand-warning;
}

pre {
  border: none;
}

code {
  background-color: #f9f2f4;
  border-radius: 4px;
  color: @text-color;
  font-size: 80%;
  padding: 0px 2px;
}

.no-results {
  .alert;
  .alert-info;
  margin-top: 20px;
}

.overflow_wrapper {
  .translate(0,0);
  &.open {
    .translate(-360px,0);
  }
  .theme-transition;
}

header {
  i {color: #fff;margin-right: 5px;font-size:20px;}
  border-bottom: solid 1px #ccc;
  position: relative;
  .background_cover;
  .film {
    .bgcolor_alpha;
  }
  a.logo {
    display: block;
    width: 300px;
    position: absolute;
    top: 50%;
    .translate(0,-50%);
    margin-right: 30px;    
    &:link, &:visited { color: #fff; }
    &:hover, &:active { color: #A4D0F2; }
    img {
      float: left;
      height: 42px;
      padding-right: 0;
    }
    .logo_title {
      font-size: 36px;
      font-weight: 900;
      line-height: 1.5em;
    }
    span {
      float: left;
      margin-top: -8px;
    }
  }
  nav {
    display: block;
    float: right;
    padding: 100px 0;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          padding: 10px;
          font-weight: 700;
          display: block;
          color: #fff;
          &:link, &:visited { color: #fff; }
          &:hover, &:active { color: #A4D0F2; }
          text-transform: uppercase;
          
          span {
            display: inline-block;
            margin-left: 5px;
            vertical-align: text-bottom !important;
            position: relative;
            top: -3px;
          }
        }
      }
    }
  }
}

.main {
  font-size: 18px;
  h2 {
    border-bottom: inherit;
    margin: 25px 0 26px;
    padding-top: 25px;
    padding-bottom: 14px;
    position: relative;   
    &:after {
      content: '';
      width: 50%;
      height: 2px;
      background-color: @brand-success;
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }
  h3 {
    position: relative;
    margin: 10px 0 30px 0;
    padding-top: 16px;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 15%;
      height: 2px;
      background-color: @brand-warning;
      position: absolute;
      bottom: -16px;
      left: 0;
    }
  }
  h4 {
    position: relative;
    margin: 5px 0 15px 0;
    padding: 8px 0 0 30px;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 20px;
      height: 2px;
      background-color: @brand-primary;
      position: absolute;
      bottom: 8px;
      left: 0;
    }
  }
}

.sitemap_toggle {
  cursor: pointer;
}


.ex {
  background-color: @brand-primary;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  display: block;
  position: fixed;
  right: 0px;
  top: 50%;
  .translate(0px,-50%);
  z-index: 2;
  .theme-transition;
  box-shadow: -1px 0px 1px #666;
  &.open {
  //top: 0px;
  .translate(-360px,-50%);
  }
  &:hover {
    span.lines, span.lines:before, span.lines:after {background: #fff;}
  }
}
.ex span.lines, .ex span.lines:before, .ex span.lines:after {
  cursor: pointer;
  height: 4px;
  width: 30px;
  background: #fff;
  position: absolute;
  right: 10px;
  top: 15px;
  display: block;
  content: '';
  .theme-transition(300ms);
}
.ex span.lines:before {top: 8px; right: 0px;}
.ex span.lines:after {top: 16px; right: 0px;}
.ex.active span.lines {background-color: transparent;}
.ex.active span.lines:before, 
.ex.active span.lines:after {top: 8px;}
.ex.active span.lines:before {transform: rotate(45deg);}
.ex.active span.lines:after {transform: rotate(-45deg);}

.on_sidebar {
  display: block;
  padding: 10px 15px;
  border-bottom: solid 1px #ccc;
} 

.sitemap  {
  position: fixed;
  top: 0;
  right: 0;
  .translate(360px,0);
  width: 360px;
  height: 100%;
  overflow-y: auto;
  .theme-transition;
  background-color: #fffff0;
  z-index: 1;
  box-shadow: -1px 0px 1px #666;
  &.open { .translate(0,0); }
  border-left: solid 6px @brand-primary;
  padding: 0 0 20px 0;
}

.sitemap {
  .search {
    background-color: @brand-primary;    
    margin: 0 0 16px 0;
    padding: 10px 0 10px 17px;
    i { color: #fff;margin-right: 12px; font-size: 20px;}
  }
  ul.nav {
    a {
      &:link, &:visited { color: @text-color; }
      &:hover, &:active { color: @text-color; }
    }
    > li {
      &.active { background-color: #eeeeee; }
      > a {
        padding: 10px;
        font-size: 16px;
        i {
          background-color: @brand-primary;
          color: #fff;
          padding: 10px;
          border-radius: 50px;
          margin-right: 5px;
        }
        &:hover, &:focus { background-color: #cccccc; }
      }  
      > ul {
        //border-top: dotted 1px @gray-lighter;
        list-style: none;
        margin: 0;
        padding: 0px 0px 0px 0px;
        > li {
          position: relative;
          &.active { background-color: #dddddd; }
          padding: 0px 0px 0px 27px;
          > a {
            display: block;
            padding: 3px 10px 3px 19px;
            &:hover, &:focus { background-color: #dddddd; }
            border-left: dotted 1px #ccc;
            //&:nth-child(1) { padding-top: 9px; }
            &:before {
              content: '';
              width: 10px;
              height: 1px;
              border-top: dotted 1px #ccc;
              position: absolute;
              top: 50%;
              left: 28px;
            }
          }
        }
      }
    }
  }
}






/* =Responsive: Landscape Phone to Tablet 
-------------------------------------------------------------- */
@media only screen and (max-width: 1250px) {
//------------------------------------------------------------ 




//------------------------------------------------------------ 
}



/* =Responsive: Landscape Phone to Tablet 
-------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
//------------------------------------------------------------ 


header a.logo {
  position: relative;
  transform: inherit;
  padding-top: 20px;
  overflow: hidden;
}

header nav {
    float: none;
    padding: 20px 0;
    ul {
      li {
        display: inline-block;
        a {
          padding: 10px 10px;
        }
      }
    }
  }

//------------------------------------------------------------ 
}

/* =Responsive: Landscape Phone to Tablet 
-------------------------------------------------------------- */
@media only screen and (max-width: 420px) {
//------------------------------------------------------------ 

.ex {
  &.open {
    top: 0px;
    .translate(0px,0px);
  }
}

}