img {  max-width: 100%;  }   

figure { margin-bottom: 24px; img {max-width: 100%;} }

blockquote {
	border-left: 5px solid lighten(@text-color,50%);
}

.brand-colors {
	height  : 0;
	width   : 0;
	display : none;
	margin  : 0;
	padding : 0;
	color: @brand-primary;
	background-color: @brand-secondary;
}

i.fa.primary {color:@brand-primary;}
i.fa.secondary {color:@brand-secondary;}
i.fa.success {color:@brand-success;}
i.fa.info {color:@brand-info;}
i.fa.warning {color:@brand-warning;}
i.fa.danger {color:@brand-danger;}

#imagelightbox iframe {  border: none;  }

.pager li a {
	background-color : @brand-primary;
	border-radius    : @border-radius-base;
	color            : #fff;
	font-weight      : 600;
	padding          : 10px 20px;
	&:hover {  color: @gray;  }
}

.collapsed { .translate(-250px, 0px); }

.video_iframe iframe {
	border : none;
	width  : 100%;
}

// .static-bg {
//   background-position: 0% 50%;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

/* 
 =3D Links Effect
 -------------------------------------------------------------- 
*/

.roll {
	display            : inline-block;
	overflow           : hidden;
	perspective        : 400px;
	perspective-origin : 50% 50%;
	vertical-align     : top;
	& span {
		display          : block;
		padding          : 0 2px;
		position         : relative;
		transform-origin : 50% 0%;
		transform-style  : preserve-3d;
		transition       : all 400ms ease;
	}
	&:hover span {
		background : #111;
		transform  : translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	}
	& span:after {
		background       : @brand-secondary;
		color            : #fff;
		content          : attr(data-title);
		display          : block;
		left             : 0;
		padding          : 0 2px;
		position         : absolute;
		top              : 0;
		transform        : translate3d( 0px, 105%, 0px ) rotateX( -90deg );
		transform-origin : 50% 0%;
	}
}

/* 
 = BACK TO TOP BUTTON
 -------------------------------------------------------------- 
*/


	#return-to-top {
		position        : fixed;
		bottom          : 20px;
		right           : 20px;
		background      : rgb(0, 0, 0);
		background      : rgba(0, 0, 0, 0.7);
		width           : 50px;
		height          : 50px;
		display         : block;
		text-decoration : none;
		border-radius   : 35px;
		display         : none;
		transition      : all 0.3s ease;
		z-index         : 10001; // PLETODO: change z-index and test
		& i {
				color      : #fff;
				margin     : 0;
				position   : relative;
				left       : 16px;
				top        : 13px;
				font-size  : 19px;
				transition : all 0.3s ease;
		}
		&:hover {
				background: rgba(0, 0, 0, 0.9);
		}
		&:hover i {
				color: #fff;
				top: 5px;
		}
	}

/* =SVG Loader
-------------------------------------------------------------- */

.loader-modal {
	display  : block;
	display  : none; 
	height   : 100%;
	left     : 0;
	margin   : 0;
	overflow : auto;
	padding  : 0;
	position : fixed;
	top      : 0;
	width    : 100%;
	z-index  : 100;
}

.main.ajaxed {
	z-index: 999;
}

.ajax-error {
	left     : 25%; 
	position : absolute;
	top      : 25%;
}

.member-bio, .team-bio {  display : none;  }

#loader {  z-index: 99999;  }

.close-handle {
	cursor   : pointer;
	//height   : 40px;
	position : fixed;
	right    : 60px;
	top      : 30px;
	//width    : 40px;
	z-index  : 999999;
	padding: 30px;
	&:before, &:after {
		-webkit-transition : all 200ms linear;
		content            : '';
		height             : 3px;
		position           : absolute;
		top                : 29px;
		left: 11px;
		transition         : all 200ms linear; 
		width              : 40px;
		}
	&:before,
	&:hover:after {
		-webkit-transform : rotate(-45deg);
		-ms-transform     : rotate(-45deg);
		transform         : rotate(-45deg); 
	}
	&:after,
	&:hover:before {
		-webkit-transform : rotate(45deg);
		-ms-transform     : rotate(45deg);
		transform         : rotate(45deg); 
	}
}

.close-handle {
	border-radius: 60px;
	background-color: #fff;
	&:before, &:after {
		background-color: #323232;
	}
}  

.loader-modal-content {}

/* =SVG Page Loading Effect
-------------------------------------------------------------- */
.pageload-overlay {
	height     : 100%;
	left       : 0;
	position   : fixed;
	top        : 0;
	visibility : hidden; 
	width      : 100%;
	&.show {  visibility: visible;  }
	& svg {
		left           : 0;
		pointer-events : none; 
		position       : absolute;
		top            : 0;
		& path {  fill: @brand-primary;  }
		}
	/* REMOVED LOADING BALLS */
	&::after, &::before {
		display: none;
		opacity            : 0;
		visibility         : hidden;
		z-index            : 0;
		}
	}    

/* OWL SLIDER ADDITIONS */

ul.owl-carousel {
	list-style: none;
}

/* =DEMOs Page
-------------------------------------------------------------- */

.demo_item {
	background-image: url('../images/demos_page/monitor.png');
	//padding: 18px 15px 87px 15px;
	padding-bottom: 81.09% !important;
	@media (max-width: 991px) {
		.margin_bottom;
	} 
	.background_cover;
	.stretchy_wrapper {
		width: auto !important;
		padding-bottom: 52% !important;
		height: inherit;
		margin: 5% 4%;
		background-position: center top;
		.theme_transition(2000ms);
		&:hover {
			background-position: center bottom;
			.theme_transition(2000ms);
		}
	} 
}