/*
--------------------------------------------------------------  
 
Booking form

-------------------------------------------------------------- 
*/ 

/* Inputs */

form.booking_form {
	padding: 24px;
	min-height: 350px;
	@media (max-width: 991px) {
		padding-bottom: 72px;
	}
	label {
		display: block;
		font-weight: 200;
		margin-bottom: 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: fade(#ddd, 100%);
		font-size: 12px;
		margin-top: 10px;
	}
	input[type="text"] {
		background: transparent;
		border:0px;
		font-size: 26px;
		font-weight: 200;
		opacity: .8;
		text-align:center;
		background-color: lighten(#111118,  7%);
		line-height:35px;
		cursor: pointer;
		padding: 24px 0px 24px 5px ;
		//border: solid 1px fade(#fff, 5%);
		//font-family: @font-family-alternative;
		.theme_transition;
		&.tiny_input {
			font-size: 16px !important;
		}
		&:focus {
			outline: 0px;
			//border: solid 1px fade(#fff, 20%);
			background-color: lighten(#111118,  7%);
		}
		&:hover {
			background-color: lighten(#111118,  9%);
		}
		width: 100%;
	}
	i.arrow-down {
		&:after {
			content:'\2193';
			position: absolute;
			right: 30px;
			top: 48%;
		} 
	}
	select {
		background: transparent;
		border:0px;
		font-size: 20px;
		font-weight: 200;
		position: relative;
		margin-left: 0px;
		cursor: pointer;
		padding: 0px 24px 5px 24px;
		-webkit-appearance: none;
		line-height:35px;
		background-color: lighten(#111118,  7%);
		-moz-appearance: none;
		color: #fdfdfd;
		opacity: .7;
		height: auto;
		text-align: center;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		//border: solid 1px fade(#fff, 10%);
		.theme_transition;
		option {
			background-color: #fff;
			color: #111118;
			font-size: 20px;
			border:0px;
			height: 35px;
			line-height: 26px;
		}
		&:focus {
			outline: 0px;
			//border: solid 1px fade(#fff, 20%);
		}
		&:hover {
			background-color: lighten(#111118,  9%);	
		}
		@media (max-width: 991px) {
			width: 100%;
			margin-left: 0 !important;
		}
	}
	button[type="submit"] {
		.btn;
		.btn-success;
		margin-left: 0px;
		margin-top: 34px;
		padding: 11.5px 28px;
		font-size: 13px;
		@media (max-width:991px) {
			margin-left: 1px;
			margin-bottom: 0;
			margin-top: 0;
		}
	}	
}

select::-ms-expand { display: none; }

.select-arrow:after {
	content:"↓";
	text-align: center;
	font-size: 20px;
	position: absolute;
	width: 0px;
	height: 32px;
	background: transparent;
	color: #fdfdfd;
	right: -35px;
	top: 38px;
	opacity: .8;
	pointer-events: none;
	z-index: 99;
	@media (max-width: 1191px) {
		right: -60px !important;
	}
	@media (max-width: 991px) {
		right: 50px !important;
	}
}

form.booking_form input::-webkit-input-placeholder {
	font-size: 26px !important;
	line-height: 35px;
    	color: #fdfdfd;
    	opacity: .8;
}

form.booking_form input:-moz-placeholder { /* Firefox 18- */
	font-size: 26px !important;
	line-height: 35px;
    	color: #fdfdfd;
    	opacity: .8;
}

form.booking_form input::-moz-placeholder {  /* Firefox 19+ */
	font-size: 26px !important;
	line-height: 35px;
    	color: #fdfdfd;
    	opacity: .8;
}

form.booking_form input:-ms-input-placeholder {  
	font-size: 26px !important;
	line-height: 35px;
   	color: #fdfdfd;
   	opacity: .8;
}

--

input.tiny_input::-webkit-input-placeholder {
	font-size: 16px !important;
	line-height: 35px;
    	color: #fdfdfd;
    	opacity: .8;
}

input.tiny_input:-moz-placeholder { /* Firefox 18- */
	font-size: 16px !important;
	line-height: 35px;
    	color: #fdfdfd;
    	opacity: .8;
}

input.tiny_input::-moz-placeholder {  /* Firefox 19+ */
	font-size: 16px !important;
	line-height: 35px;
    	color: #fdfdfd;
    	opacity: .8;
}

input.tiny_input:-ms-input-placeholder {  
	font-size: 16px !important;
	line-height: 35px;
   	color: #fdfdfd;
   	opacity: .8;
}

.form_previous_icon:before {
	content: '\2190';
}

.form_next_icon:before {
	content: '\2192';
}

/* - Full Booking form - */

form.booking_form_full {
	.select-arrow:after {
		content:"↓";
		text-align: center;
		padding: 10px 0px;
		padding-right: 24px;
		font-size: 20px;
		z-index: 999999;
		position: absolute;
		width: 32px;
		height: 32px;
		background: transparent;
		color: @brand-secondary;
		left: 95%;
		top: 1px;
		opacity: .8;
		pointer-events: none;
		@media (max-width: 480px) {
			left: 91%;
		}
	}
	select {
		font-size: 14px;

	}
	textarea {
		color: @brand-secondary !important;
	}
}

/* - Small form -  */

form.booking_form_small {
	padding: 0px;
	min-height: 350px;
	@media (max-width: 991px) {
		padding-bottom: 72px;
	}
	label {
		display: block;
		font-weight: 200;
		margin-bottom: 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: fade(#ddd, 100%);
		font-size: 12px;
		margin-top: 10px;
	}
	input[type="text"] {
		background: transparent;
		border:0px;
		font-size: 16px;
		font-weight: 200;
		opacity: .8;
		padding-left: 24px !important;
		text-align:left;
		background-color: lighten(#111118,  7%);
		line-height:35px;
		cursor: pointer;
		padding: 24px 0px 24px 5px ;
		//border: solid 1px fade(#fff, 5%);
		//font-family: @font-family-alternative;
		.theme_transition;
		&:focus {
			outline: 0px;
			//border: solid 1px fade(#fff, 20%);
			background-color: lighten(#111118,  7%);
		}
		&:hover {
			background-color: lighten(#111118,  9%);
		}
		width: 100%;
	}
	i.arrow-down {
		&:after {
			content:'\2193';
			position: absolute;
			right: 30px;
			top: 48%;
		} 
	}
	select {
		background: transparent;
		border:0px;
		font-size: 20px;
		font-weight: 200;
		position: relative;
		margin-left: 0px;
		cursor: pointer;
		padding: 0px 24px 5px 24px;
		-webkit-appearance: none;
		line-height:35px;
		background-color: lighten(#111118,  7%);
		-moz-appearance: none;
		color: #fdfdfd;
		opacity: .7;
		height: auto;
		text-align: center;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		//border: solid 1px fade(#fff, 10%);
		.theme_transition;
		option {
			background-color: #fff;
			color: #111118;
			font-size: 20px;
			border:0px;
			height: 35px;
			line-height: 26px;
		}
		&:focus {
			outline: 0px;
			//border: solid 1px fade(#fff, 20%);
		}
		&:hover {
			background-color: lighten(#111118,  9%);	
		}
		@media (max-width: 991px) {
			width: 100%;
			margin-left: 0 !important;
		}
	}
	button[type="submit"] {
		.btn;
		.btn-success;
		margin-left: 0px;
		margin-top: 48px !important;
		display: block;
		padding: 11.5px 28px;
		font-size: 13px;
		@media (max-width:991px) {
			margin-left: 1px;
			margin-bottom: 0;
			margin-top: 0;
		}
	}	
}

/* Bootstrap DateTimePicker Source */

/*!
* Datetimepicker for Bootstrap 3
* version : 4.14.30
* https://github.com/Eonasdan/bootstrap-datetimepicker/
*/

.bootstrap-datetimepicker-widget {
	list-style: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
	margin: 2px 0;
	padding: 4px;
	width: 19em;
}
@media (min-width: 768px) {
	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
	width: 38em;
	}
}
@media (min-width: 992px) {
	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
	width: 38em;
	}
}
@media (min-width: 1200px) {
	.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
	width: 38em;
	}
}
.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
	content: '';
	display: inline-block;
	position: absolute;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #cccccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	top: -7px;
	left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	top: -6px;
	left: 8px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #cccccc;
	border-top-color: rgba(0, 0, 0, 0.2);
	bottom: -7px;
	left: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid white;
	bottom: -6px;
	left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
	left: auto;
	right: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
	left: auto;
	right: 7px;
}
.bootstrap-datetimepicker-widget .list-unstyled {
	margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action] {
	padding: 6px 0;
}
.bootstrap-datetimepicker-widget a[data-action]:active {
	box-shadow: none;
}
.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
	width: 54px;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0;
}
.bootstrap-datetimepicker-widget button[data-action] {
	padding: 6px;
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Increment Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Increment Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Decrement Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Decrement Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Show Hours";
}
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Show Minutes";
}
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Toggle AM/PM";
}
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Clear the picker";
}
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Set the date to today";
}
.bootstrap-datetimepicker-widget .picker-switch {
	text-align: center;
}
.bootstrap-datetimepicker-widget .picker-switch::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Toggle Date and Time Screens";
}
.bootstrap-datetimepicker-widget .picker-switch td {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	line-height: inherit;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
	line-height: 2.5;
	height: 2.5em;
	width: 100%;
}
.bootstrap-datetimepicker-widget table {
	width: 100%;
	margin: 0;
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
	text-align: center;
	border-radius: 0px;
}
.bootstrap-datetimepicker-widget table th {
	height: 20px;
	line-height: 30px;
	width: 20px;
	color: @brand-secondary;
	font-family: @font-family-alternative;
}
.bootstrap-datetimepicker-widget table th.picker-switch {
	width: 145px;
}
.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
	background: none;
	color: #777777;
	cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table th.prev::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Previous Month";
}
.bootstrap-datetimepicker-widget table th.next::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: "Next Month";
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
	cursor: pointer;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
	background: none;
}
.bootstrap-datetimepicker-widget table td {
	height: 54px;
	line-height: 54px;
	width: 54px;
	.theme_transition;
}
.bootstrap-datetimepicker-widget table td.cw {
	font-size: .8em;
	height: 20px;
	line-height: 20px;
	color: #777777;
}
.bootstrap-datetimepicker-widget table td.day {
	height: 20px;
	line-height: 20px;
	width: 20px;
	color: @brand-secondary;
}
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
	background-color: fade(@brand-primary, 50%);
	color: #fff;
	cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
	color: #777777;
}
.bootstrap-datetimepicker-widget table td.today {
	position: relative;
}
.bootstrap-datetimepicker-widget table td.today:before {
	content: '';
	display: inline-block;
	border: 0 0 7px 7px solid transparent;
	border-bottom-color: #337ab7;
	border-top-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 4px;
	right: 4px;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: @brand-primary;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.active.today:before {
	border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
	background: none;
	color: #777777;
	cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table td span {
	display: inline-block;
	width: 54px;
	height: 54px;
	line-height: 54px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: 0px;
	color: @brand-secondary;
	.theme_transition;
}
.bootstrap-datetimepicker-widget table td span:hover {
	background: #eeeeee;
}
.bootstrap-datetimepicker-widget table td span.active {
	background-color: @brand-primary;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td span.old {
	color: #777777;
}
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {
	background: none;
	color: #777777;
	cursor: not-allowed;
}
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
	height: 27px;
	line-height: 27px;
}
.bootstrap-datetimepicker-widget.wider {
	width: 21em;
}
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
	line-height: 1.8em !important;
}
.input-group.date .input-group-addon {
	cursor: pointer;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}