extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase transparent'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= false
	- var lightbox          		= false
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= true
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================

block header_content
	include includes/header  

block main_content
	.head_panel
		.full_width_photo.vertical_center.parallax-window.bg_vbottom(style="background-image: url(assets/images/home-restaurant-2.jpg)")
			.container
				.row
					.col-md-8.col-md-offset-2.text-center
						.caption.caption_elegant
							.inner
								.t3.uppercase  XENIA'S MONTHLY PACKAGE
								.t1 LIMITED TIME OFFER
								p.lead.margin_top_half
									| An exceptional place with real professional cookers and an awarded chef, awaits for your order.
	section.white_section
		.container
			.col-md-12.text-center
				.section_header.overlay
					span XENIA
					h1 3 DAYS - FULL EXTRA
					p THREE LUXURY DAYS IN OUR RESORT
					img(src="assets/images/decoration-1.png")
			.col-md-6.col-md-offset-3.text-center.margin_bottom.padding_bottom_half
				.text_block
					h3 
					p.text-justify This offer includes a Double room and <strong>3 days</strong> for accomondation. Also, a <strong>free spa access</strong> for 1 day, and moreover, <strong>free gym access</strong> for 3 days. In addition, 1 luxury dinner is included too, in gourmé restaraunt. Breakfast and room service also included in the package. 
					p.lead All these, come together with an amazing price of -
					h2 $ 799.99
					span * PRICE EXCLDUING VAT
			.row.vcenter.margin_top_half
				.col-md-6.text-left
					.text_block
						span ITALIAN CUISINE
						h3 PASTA AND VEGETABLES
						p A wide range of remarkable unique tastes and feelings. Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Can't she'd days sixth beast spirit likeness. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill light may deep that.
						a.btn.btn-link(href="index-restaurant.html") OUR MENU
				.col-md-6.margin_bottom_half
					img(src="assets/images/offer-image-1.jpg")
			.row.vcenter
				.col-md-6.margin_bottom_half
					img(src="assets/images/offer-image-2.jpg")
				.col-md-6.text-left
					.text_block
						span RESERVE A TABLE
						h3 PRIVATE DINNING
						p You can always enjoy your dinner privately. Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Can't she'd days sixth beast spirit likeness. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill light may honestly amazing.
						a.btn.btn-link(href="booking.html") BOOK NOW
			.row.vcenter.margin_top_half
				.col-md-6.text-left
					.text_block
						span WE GUARANTEE
						h3 A REMARKABLE EXPERIENCE
						p Our experienced staff and our many years guarantee that you'll have a pleasant experience that you will never forget . Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill. To be cue or not to be cue is our main and only goal.
						a.btn.btn-link(href="index-restaurant.html") OUR MENU
				.col-md-6.margin_bottom_half
					img(src="assets/images/restaurant-feature-3.jpg")
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area