// CSS Animations ====================================================================

.row
	.col-md-12
		h2#animations
			i.fa.fa-magic.wow.bounceInLeft
			|  CSS Animations
	.col-md-8
		p
			| Medicus uses the <a href="http://daneden.github.io/animate.css/">Animate.css</a> library to show css animations and <a href="http://mynameismatthieu.com/WOW/">wow.js</a> to reveal them on scroll. 
			| In order to animate an object you have to assign <code>animated</code> class to the element and the proper animation class from Animate.css. 
			| If you want to reveal this object's animation on scroll, replace <code>animated</code> with the <code>wow</code> class.
		p.small
			| For example, the current section icon animation is achieved by...
			pre
				code.language-markup.
					<iframe>
					<h2 id="animations">
						<i class="fa fa-magic wow bounceInLeft"></i>
						CSS Animations
					</h2>
					</iframe>	
	.col-md-4
		p.small.alert.alert-warning Scroll upwards untill this section is well hidden, refresh your browser window [F5] and scroll back down again to see the animation in action. 		
// END CSS Animations ================================================================