// APIs ====================================================================

.row
	.col-md-12
		h2#apis
			i.fa.fa-cog
			| External APIs
//- .row
//- 	.col-md-12
//- 		h3#twitter Setting up the Twitter API

//- 	.col-md-8

//- 		h4#twitter_requirements Requirements

//- 		p.
//- 			<strong>(1)</strong> First of all you need a <strong>PHP enabled Web Server</strong>.<br/> 
//- 			<strong>(2)</strong> Then you'll need to <a href="https://apps.twitter.com/" target="_blank">create a new Twitter App</a> (or use an existing one) and<br/>
//- 			<strong>(3)</strong> grab your oAuth <strong>Access Keys and Tokens</strong>. 

//- 		p.
//- 			Visit <a href="https://apps.twitter.com/" target="_blank">https://apps.twitter.com/</a>, create a new App or select an existing
//- 			one, and click on <strong>Keys and Access Tokens</strong>.

//- 			For more information see this <a href="https://dev.twitter.com/oauth/overview/application-owner-access-tokens" target="_blank">link</a>.

//- 		p.

//- 			Now, you'll need to enter these values in the <strong>config.php</strong> file found in the theme's root folder.
//- 			Search for the <strong>TWITTER API</strong> section, find the <strong>$themeConfig["TWITTER"]</strong> array and replace the sample values
//- 			with your Consumer Keys and Access Tokens.

//- 		pre
//- 			code.language-php.
//- 				<iframe>
//- 				$themeConfig["TWITTER"] = array
//- 				(
//- 					"CONSUMER_KEY"    => 'ENTER YOUR CONSUMER KEY HERE',
//- 					"CONSUMER_SECRET" => 'ENTER YOUR CONSUMER SECRET HERE',
//- 					"ACCESS_TOKEN"    => 'ENTER YOUR ACCESS TOKEN HERE',
//- 					"ACCESS_SECRET"   => 'ENTER YOUR ACCESS SECRET HERE'
//- 				);
//- 				</iframe>

//- 		h4#twitter_configure Configuring Twitter Feed

//- 		p.

//- 			All of the settings can be found and edited in the <strong>themeConfig["TWITTER"]</strong> section of the <strong>/assets/js/config.js</strong> file.
//- 			Be sure to change, the <strong>twitterUserName</strong> setting to display your own twitter feed.
//- 			You'll need to include the following JavaScript files on each and every page you want the Twitter Feed to appear:

//- 		ul
//- 			li jQuery
//- 			li Flexslider Plugin
//- 			li tweetie library
//- 			li the twitterfeedslider.min.js script

//- 		pre
//- 			code.language-markup.
//- 				<iframe>
//- 				<script src="/assets/js/libs/jquery.min.js"></script>
//- 				<script src="/assets/js/libs/flexslider/jquery.flexslider.min.js"></script>
//- 				<script src="/assets/js/libs/Tweetie/tweetie.js"></script>
//- 				<script src="/assets/js/twitterfeedslider.min.js"></script>
//- 				</iframe>

//- 		p.
//- 			The Twitter Feed is based on the <a href="https://github.com/sonnyt/Tweetie" target="_blank">Tweetie jQuery Plugin</a> by <a href="http://sonnyt.com/" target="_blank">Sonny T.</a> 

//- 	.col-md-4
//- 		p.small.alert.alert-info
//- 				| If you need to learn more about LESS, visit <a href="#">LESS</a>
.row
	.col-md-12
		h3#newsletter
			| Setting up the Newsletter using Mailchimp API

	.col-md-8

		h4#newsletter_setup Requirements

		ul

			li Host your web site on a PHP Web Server

			li.
				Sign up for a <a target="_blank" href="https://login.mailchimp.com/signup?">MailChimp Account</a>, grab your <a target="_blank" href="http://kb.mailchimp.com/accounts/management/about-api-keys">API Key</a> and a <a target="_blank" href="http://kb.mailchimp.com/lists/managing-subscribers/find-your-list-id">List ID</a>. 
			li.
				Include the Newsletter JavaScript file <strong>/assets/js/newsletter.min.js</strong> in your page: 

			pre
				code.language-markup.
					<iframe>
					<script src="/assets/js/newsletter.min.js"></script>
					</iframe>

			li.
				Edit the <strong>config.php</strong> file, found in your theme's root folder, and enter your <a href="http://kb.mailchimp.com/article/where-can-i-find-my-api-key" target="_blank">API key</a> and <a href="http://kb.mailchimp.com/article/how-can-i-find-my-list-id/" target="_blank">List ID</a> in the <strong>MAILCHIMP</strong> SECTION:

		pre
			code.language-php.
				<iframe>
				$themeConfig["MAILCHIMP"] = array
				(
					"API_KEY" => "PASTE HERE",   
					"LIST_ID" => "PASTE HERE"
				);
				</iframe>

		p.
			You're now ready to go!

		p.
			If you would like to translate the Newsletter response messages, e.g. SUCCESS, ERROR, etc. all you have to do is open
			the <strong>/assets/js/config.js</strong> file and edit the <strong>messages</strong> values found in the <strong>themeConfig["NEWSLETTERS"]</strong> section:

		pre
			code.language-javascript.
				<iframe>
				themeConfig["NEWSLETTERS"] =
				{
					messages: {
						successMessage : "SUCCESS",
						errorMessage   : "ERROR",
						...
					}
				}
				</iframe>

	//-.col-md-4
		p.small.alert.youtube
			a(target="_blank" href="https://www.youtube.com/watch?v=Y0Y01ZlTzgQ")
				i.fa.fa-youtube
				span Checkout our video tutorial on youTube on setting up Newsletter using MailChimp API 

// END APIs ================================================================