// Contact Forms ====================================================================

.row
	.col-md-12
		h2#contact_forms
			i.fa.fa-envelope-o
			|  Contact Forms &amp; Newsletter
	.col-md-8
		p.

			Xenia provides one communication form: <strong>Contact Form</strong>. 
			Both of these forms can be configured by editing the <strong>$themeConfig["CONTACT_FORMS"]</strong> section found in the <strong>config.php</strong> file,
			which can be found in the theme's root folder.

		p.small.alert.alert-danger.
			ATTENTION: If you are not receiving the emails sent by either of the contact forms after a successful response,  
			double check your web server's email sending capabilities and/or try using an external SMTP service such as Gmail or Yahoo.



// Contact Forms | General Configuration Settings ===================================

.row
	.col-md-12

		h3#contact_forms_general_configuration General Configuration: Basic Settings 

	.col-md-8

		p.

			<strong>"TO_EMAIL"</strong> : This is the recipient's email address. Use your email address to receive all
			the emails coming in from the Quick Contact Form and the Appointment Form. 

		p.

			<strong>"TO_NAME"</strong> : This is the recipient's name, e.g. "Xenia Hotel".

		p.

			<strong>"SITENAME"</strong> : Enter your Site's name here, in order to recognize where emails originate from.

		h3#contact_forms_general_configuration General Configuration: Advanced Settings 

		p.

			<strong>"TO_EMAIL2"</strong> : Enter a 2nd email address that will be also receiving the incoming emails.

		p.

			<strong>"CC_RECIPIENTS" / "BCC_RECIPIENTS"</strong> : Add <a href="http://en.wikipedia.org/wiki/Carbon_copy#Email" target="_blank">Cc: and Bcc:</a> recipients, separated by commas.                        

		p.

			<strong>"FORM_TEXT"</strong> : By default, the contact form script appends a message at the end of the email body, which informs the recipient that the message was sent from her site's contact form. 
			If you want to remove this message from the emails, set the value of <strong>"FORM_TEXT"</strong> to <strong>false</strong>:

		p.

			<strong>"ENABLE_CAPTCHA"</strong> : Enable/Disable Captcha codes with <strong>true</strong> or <strong>false</strong>. Leave this setting to <strong>true</strong> to discourage spammers from abusing your contact forms.

		//-
			p.

				<strong>$locale</strong> : Enable .po/.mo translations for the form response text. Currently only Greek language is supported: "el_GR". 
				If the translation is not working, try adding <strong>.utf8</strong> at the end of the locale name: <strong>"el_GR.utf8"</strong>.

			p.small.alert.alert-danger.

				ATTENTION: You must have your server's locale properly <a href="http://www.shellhacks.com/en/HowTo-Change-Locale-Language-and-Character-Set-in-Linux" target="_blank">configured</a>.
				Please contact your Hosting provider for more information.

		h4#contact_forms_gmail USE GMAIL SMTP SERVER

		p.small.alert.alert-danger.

			ATTENTION: Before using Gmail's SMTP service for your contact form you have to allow access 
			for a new application by going to the following address: <a href="https://accounts.google.com/DisplayUnlockCaptcha" target="_blank">https://accounts.google.com/DisplayUnlockCaptcha</a>

		p.
			<strong>"ENABLE_GMAIL"</strong> : Set to <strong>true</strong> if you plan to use Gmail's email server.<br>                     
			<strong>"GMAIL_USERNAME"</strong> : Enter your email address at gmail.com.<br>
			<strong>"GMAIL_PASSWORD"</strong> : Enter your gmail password.<br>

		h4#contact_forms_yahoo USE YAHOO SMTP SERVER

		p.

			<strong>"ENABLE_YAHOO"</strong> : Set to <strong>true</strong> if you plan to use Yahoo's email server.<br>
			<strong>"YAHOO_USERNAME"</strong> : Enter your yahoo email address.<br>
			<strong>"YAHOO_PASSWORD"</strong> : Enter your yahoo password.<br>

		p.
			Check out this <a href="http://email.about.com/od/accessingyahoomail/f/Yahoo_Mail_SMTP_Settings.html" target="_blank">link</a> for more information.

		h4#contact_forms_sendmail Using SendMail

		p.
			<strong>"USE_SENDMAIL"</strong> : Set this to <strong>true</strong> if you want to use SendMail.

		h4#contact_forms_godaddy GoDaddy hosting

		p.
			<strong>"ENABLE_GODADDY"</strong> : Set the value to <strong>true</strong> if you're on GoDaddy and experiencing problems sending emails.


//- // Contact Forms | Localization/Translation =========================================

//- .row
//- 	.col-md-12

//- 		h3#quick_contact_localization Translating Contact Form to your Language

//- 	.col-md-8

//- 		p.
//- 			All of the text strings returned from the Contact form can be found in the <strong>config.php</strong> file
//- 			and can be translated as follows:

//- 		h4 Editing config.php

//- 		p You can directly edit the values contained in the <strong>"MESSAGES"</strong> and <strong>"APPOINTMENT"</strong> arrays.

//- 		pre
//- 			code.language-php.
//- 				<iframe>
//- 				"MESSAGES" = array(
//- 					"empty_fields"  => _("Input fields are empty!"),
//- 					...
//- 					"mail_success"  => _("Thank you %s! Your message was successfully sent."),
//- 					"contact_form"  => _("[This message was sent from %s ]"),
//- 				);
//- 				</iframe>

//- 		h4 After Translation

//- 		pre
//- 			code.language-php.
//- 				<iframe>
//- 				"MESSAGES" = array(
//- 					"empty_fields"  => _("Τα πεδία είναι κενά!"),
//- 					...
//- 					"mail_success"  => _("Ευχαριστούμε %s! Το μήνυμά σας έχει σταλεί."),
//- 					"contact_form"  => _("[Αυτό το μήνυμα έχει σταλεί από %s ]"),
//- 				);
//- 				</iframe>

//- 		p.small.alert.alert-danger.

//- 			ATTENTION: Be sure to translate only the text strings that are contained within <strong>"quotes"</strong> and 
//- 			retain the special placeholder characters <strong>%s</strong> and <strong>%d</strong>. 

//- 		//- h4 Using .po / .mo files
//- 		//- p. the .POT file is a list of all the text lines used in the theme files in English language:
						
// Contact Forms | Newsletter =======================================================

.row
	.col-md-12

		h3 Newsletter

	.col-md-8

		h4
			a(href="#newsletter") (See APIs Section)
			
// END Contact Forms ================================================================