
// Design Elements | Portfolio Grid ===================================================

.row
	.col-md-12
		h3#portfolio The Portfolio Grid

	.col-md-8
		p.
			The Portfolio Grid element currently supports the following types of grid elements:
			<strong>Images</strong>, <strong>Youtube</strong> videos, <strong>Vimeo</strong> videos, <strong>DailyMotion</strong> videos, and <strong>External</strong> links.

		p.
			You'll need to include two sources for each grid element, in order for it to display
			a thumbnail and a lightbox image/video or an external link. Here is how you setup each
			grid element type:

		ul
			li.
				<strong>Images:</strong> place the image to be displayed inside the <strong>&lt;a&gt;</strong> tag and the thumbnail image
				inside the <strong>figure</strong> tag as a background image URL:
			pre
				code.language-markup.
					<iframe>
					<div class="portfolio_item">
						<a href="./assets/images/image-full.jpg" class="lightbox_gallery">
						<figure style="background-image:url(./assets/images/image-thumbnail.jpg)">
					</iframe>

			li.
				<strong>Youtube</strong> videos: place the YouTube video URL inside the <strong>&lt;a&gt;</strong> tag
				and the thumbnail image inside the <strong>figure</strong> tag as a background image URL:

			pre
				code.language-markup.
					<iframe>
					<div class="portfolio_item">
						<a href="https://www.youtube.com/watch?v=30uTT3SsPzA" class="lightbox_gallery">
						<figure style="background-image:url(./assets/images/image-thumbnail.jpg)">
					</iframe>

			li.
				<strong>Vimeo</strong> videos: place the Vimeo video URL inside the <strong>&lt;a&gt;</strong> tag
				and the thumbnail image inside the <strong>figure</strong> tag as a background image URL:

			pre
				code.language-markup.
					<iframe>
					<div class="portfolio_item">
						<a href="https://vimeo.com/87309145" class="lightbox_gallery">
						<figure style="background-image:url(./assets/images/image-thumbnail.jpg)">
					</iframe>

			li.
				<strong>DailyMotion</strong> videos: place the DailyMotion video URL inside the <strong>&lt;a&gt;</strong> tag
				and the thumbnail image inside the <strong>figure</strong> tag as a background image URL:

			pre
				code.language-markup.
					<iframe>
					<div class="portfolio_item">
						<a href="http://www.dailymotion.com/video/x2gryoe_health-tips-and-benefits_people" class="lightbox_gallery">
						<figure style="background-image:url(./assets/images/image-thumbnail.jpg)">
					</iframe>

			li.
				<strong>External</strong> links: place the external link inside the <strong>&lt;a&gt;</strong> tag
				and the thumbnail image inside the <strong>figure</strong> tag as a background image URL:

			pre
				code.language-markup.
					<iframe>
					<div class="portfolio_item">
						<a href="blog.html" target="_blank">
						<figure style="background-image:url(./assets/images/image-thumbnail.jpg)">
					</iframe>

		h4#portfolio_filtering Portfolio Filtering

		p.
			Portfolio Grid uses <a href="http://isotope.metafizzy.co/">Isotope Filtering</a> for filtering 
			the grid elements according to their category. 
			In order for the grid elements to use category filtering, you'll need to add a special category
			CSS class in the parent DIV element as follows (<strong>diet</strong> class refers to the category
			that this element belongs):

		pre
			code.language-markup.
				<iframe>
				<!--================= PORTFOLIO ITEM #1 (Image) ================-->
				<div class="diet col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="portfolio_item">
					...
					</div>
				</div>
				</iframe>

		h4#double_helix Double Helix Hover Effect

		p.
			Portfolio Grid also comes with a cool rotating double helix hover effect, enabled by default.
			If you want to disable the effect, open the configuration file <code>(assets/js/config.js)</code>
			search for <strong>themeConfig["DOUBLE_HELIX"]</strong> settings section, and switch the <strong>enable</strong> value
			from <strong>true</strong> to <strong>false</strong>.

	.col-md-4

		p.small Portfolio Isotope Filtering
			a.lightbox_single(href="./images/isotope_filtering.gif")
				img.lazy(src="./images/bg.png" data-src="./images/isotope_filtering_thumb.gif")

		p.small Portfolio Double Helix Hover Effect
			a.lightbox_single(href="./images/portfolio_double_helix.gif")
				img.lazy(src="./images/bg.png" data-src="./images/portfolio_double_helix.gif")

// Design Elements | Before After Plugin ==============================================

.row
	.col-md-12
		h3#before_after Before After Showcase (Image Compare)

	.col-md-8

		h4#before_after_requirements Requirements

		p.
			The Image Compare plugin is based on the <a href="https://github.com/zurb/twentytwenty">TwentyTwenty jQuery plugin</a>. In order to use it on a page
			you'll need to ensure you have (1) the jQuery library loaded, and both (2) the <strong>twentytwenty.min.css</strong> 
			and (3) <strong>jquery.twentytwenty.min.js</strong> CSS and JS files included as follows:

		pre
			code.language-markup.
				<iframe>
					<head>
					<script src="./assets/js/libs/jquery.min.js"></script>
					<link rel="stylesheet" href="./assets/css/twentytwenty.min.css" type="text/css">
					</head>
					... HTML BODY ...
					<script src="./assets/js/libs/jquery.twentytwenty.min.js"></script>
					</body>
				</iframe>

		h4#before_after_usage Usage

		p.
			You'll need a <code>div</code> container with a class <strong>.twentytwenty-container</strong> and two <code>img</code> tags 
			that will contain the before and after images respectively. Each <code>img</code> tag can contain an <code>alt</code>
			attribute which will provide the custom text for the Before and After labels. If the <code>alt</code> attribute is
			omitted, the default <strong>Before</strong> and <strong>After</strong> text will be used:

		pre
			code.language-markup.
				<iframe>
				<div class="twentytwenty-container" data-default_offset_pct="0.75" data-orientation="vertical">
					<img src="./assets/images/img_before.jpg" alt="before">
					<img src="./assets/images/img_after.jpg" alt="after">
				</div>
				</iframe>

		p.
			You can configure each BeforeAfter container using HTML data attributes as seen above:
			The <strong>data-position</strong> attribute can be set to either <strong>horizontal</strong> or <strong>vertical</strong>, 
			and the <strong>data-default_offset_pct</strong> attribute, which configures the sliders position, 
			can be set to anything from 0 to 1.

	.col-md-4

		p.small Before After Show Case (Image Compare)
			a.lightbox_single(href="./images/before_after.gif")
				img.lazy(src="./images/bg.png" data-src="./images/before_after_thumb.gif")

// END Design Elements ================================================================