// Footer ====================================================================

footer
	.container
		.row
			.col-md-12
				p
					a(href="https://www.facebook.com/plethorathemes")
						img(src="./images/fb_like.png")
					a(href="https://twitter.com/PlethoraThemes")
						img(src="./images/twitter_follow.png")
					a(href="http://themeforest.net/user/plethorathemes/follow")
						img(src="./images/follow_envato.png")
					a(href="http://themeforest.net/user/plethorathemes/portfolio")
						img(src="./images/themeforest_page_stars.png")
			

// END Footer ================================================================