// Footer and Widgets ====================================================================

.row
	.col-md-12
		h2#footer
			i.fa.fa-hand-o-down
			|  Footer and Widgets
	.col-md-8
		p
			| Generally about footer and its widgets		
	.col-md-4
	

// END Footer and Widgets ================================================================