// Header Section ====================================================================

.row
	.col-md-12
		h2#header
			i.fa.fa-hand-o-up
			|  Header Section
	.col-md-8
		p.
			The header section is where the logo, the menu and the optional top-bar reside . Its height is not set explicitly but it depents on the vertical
			margin of the logo.	It can be set to move along with the page when you scroll (relative position), or it can be always on top (sticky).
			In order to make it sticky, you just have to add the class <code>sticky_header</code> to the body element.
		pre
			code.language-markup.
				<iframe>
				<body class="sticky_header">...</body>
				</iframe>	
.row
	.col-md-12
		h3#logo
			| The Logo Area
	.col-md-8
		p.
			In the Logo Area you may put a title text or an image and you can optionally use a sub-title text.
			The logo image maximum height can be set from <code>assets/less/theme_variables.less</code> if you use LESS.
.row
	.col-md-8
		pre
			code.language-markup.
				<iframe>
				<div class="logo">
					<a class="brand" href="index.html">
						Xenia
					</a>
				</div>
				</iframe>
.row
	.col-md-8
		pre
			code.language-markup.
				<iframe>
				<div class="logo">
					<a class="brand" href="index.html">
						<img class="animated slideInRight show" src="./assets/images/xenia-header-logo.png">
					</a>
				</div>
				</iframe>
.row
	.col-md-8
		pre
			code.language-markup.
				<iframe>
				<div class="logo">
					<a class="brand" href="index.html">
						<img class="animated slideInRight show" src="./assets/images/xenia-header-logo.png">
					</a>
					<!-- OPTIONAL Sub-Title-->
					<p class="animated slideInLeft">Xenia resort - 5 Star </p>
				</div>
				</iframe>
//- .row
//- 	.col-md-12
//- 		h3#menu
//- 			| The Menu
//- 	.col-md-8
//- 		p.
//- 			You can study its structure by simply looking at the code of any template HTML file of Xenia that has a menu.
//- 			The dropdown menus open on click by default or on hover if you add class <code>.hover_menu</code> to the <code>ul.main_menu</code>.
//- 			If you are working on an One Pager, you'll need to add the <strong>.one_pager</strong> class to the <code>ul.main_menu</code> element.
//- 		pre
//- 			code.language-markup.
//- 				<iframe>
//- 				<div class="menu_container">
//- 					<ul class="main_menu"> // Add class hover_menu here if you wish
//- 						<li><a title="ABOUT US" href="./about-us.html">ABOUT US</a></li>
//- 						<li> ... </li>
//- 						<li> ... </li>
//- 						<li> ... </li>
//- 						<li class="lihasdropdown two-column dropleft">
//- 							<a href="#">Sub Menu</a>
//- 							<ul class="menu-dropdown">
//- 								<li> ... </li>
//- 								<li> ... </li>
//- 								<li class="sublihasdropdown">
//- 									<a href="#">Sub-Sub Menu</a>
//- 									<ul class="menu-dropdown">
//- 										<li> ... </li>
//- 										<li> ... </li>
//- 								</li>
//- 							</ul>
//- 						</li>
//- 					</ul>
//- 				</div>
//- 				</iframe> 
//- 	.col-md-4
//- 		p.small.alert.alert-info.
//- 			If you want your dropdown menu to split into 2 columns, just add <code>class="two-column dropleft"</code> to the appropriate <code>li</code> tag. "dropleft" can also be "dropright"
//- 			if you wish.
//- 		p.small.alert.alert-info
//- 			| The menu is transformed on mobile devices. To set the width below which the menu will be transformed (aka "The BreakPoint"), you have to go to <code>assets/css/style.css</code> and change the corresponding media query number to fit your needs.
//- 			pre
//- 				code.language-css.
//- 					<iframe>
//- 					@media only screen and (min-width: 768px) {
//- 						...
//- 					}
//- 					</iframe>
// END Header Section ================================================================