header(style="background-image: url(./images/slider-left-aligned.jpg)")
     .film
          .container
               a.logo(href="index.html")
                    img(src="./images/logo.png" alt="logo")
               nav
                    ul
                         li
                              a(href="#" target="_blank") Demo
                         li   
                              a(href="#" target="_blank") Online Doc
                                   //span.label.label-danger Always Updated
                         li
                              a.sitemap_toggle Sitemap
                         li 
                              .search
                                   i.fa.fa-search
                                   input#search_1(name="search" placeholder="Live Search" type="text" data-list=".list")     