// Head Media Panel Section ====================================================================

.row
	.col-md-12
		h2#head_panel
			i.fa.fa-picture-o
			|  Head Media Panel Section
	.col-md-8
		p.
			In the Head Panel Section you may put a Slider, a Background Photo or Color with optional title &amp; subtitle, a Google Map or you may just decide not to include it at all.
			It has a variable height that you can set with LESS or CSS.
		pre
			code.language-markup.
				<iframe>
				<div class="head_panel">
					<div style="background-image: url('./assets/images/slider-6.jpg')" class="full_width_photo parallax-window">
						<div class="hgroup">
							<div class="title diagonal-bgcolor-trans">
								<div class="container">
									<h1>About us</h1>
								</div>
							</div>
							<div class="subtitle body-bg_section">
								<div class="container">   
									<p class="uppercase">We are a Hotel</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</iframe>


// Head Media Panel Section | Google Maps ======================================================

.row
	.col-md-12

		h3#google_maps Google Maps

	.col-md-8

		p.
			Xenia uses the <strong>Google Maps Api v3</strong>.<br/>
			In order to configure Google Maps, open the file <strong>/assets/js/config.js</strong> and search for the <strong>themeConfig["GOOGLE_MAPS"]</strong> section.
			All of the configuration settings, such as Latitude, Longitude, Map Type, etc. can be found there.	
			You can set multiple settings for multiple maps, either across different pages or on the same one. 		

		h4#google_maps_coordinates Getting the coordinates of a place

		ul
			li Open Google Maps.
			li Right-click the place or area on the map.
			li Select <strong>What's here?</strong>
			li Under the search box, an info card with coordinates will appear.

		p See <a href="https://support.google.com/maps/answer/18539?hl=en" target="_blank">Google Maps Help</a>

	.col-md-4
		p.small.alert.youtube
			a(target="_blank" href="https://www.youtube.com/watch?v=MmkdYRXPV48")
				i.fa.fa-youtube
				span Checkout our YouTube tutorial on getting and setting the coordinates for Google Maps 


// END Head Media Panel Section ================================================================