doctype html
html(lang="en")
  head
    title XENIA HTML Template Documentation
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    link(href="./css/imagelightbox.min.css" rel="stylesheet" type="text/css") 
    link(href="./css/prism.css" rel="stylesheet" type="text/css")  
    link(href="./css/style.css" rel="stylesheet" type="text/css")
    link(href="./css/animate.css" rel="stylesheet" type="text/css")
    link(href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="shortcut icon" href="./favicon.png")  
  body(data-spy="scroll" data-target=".sitemap")
    include sidebar_menu.jade   
    .overflow_wrapper
      include header.jade 
      .main
        .container.list
            include overview.jade
            include grid_layout_styling.jade
            include header_section.jade
            include head_media_panel.jade
            include main_sections.jade
            //-include design_elements.jade
            //-include footer_widgets.jade
            include contact_forms.jade
            include apis.jade
            include animations.jade
            include support.jade           
      //-include footer.jade
  script(src="./js/jquery-1.10.2.min.js")
  script(type="text/javascript" src="./js/jquery.hideseek.min.js")
  script(src="./twitter-bootstrap/js/bootstrap.min.js" type="text/javascript")
  script(type="text/javascript" src="./js/jquery.ui.totop.js")
  script(type="text/javascript" src="./js/easing.js")
  script(type="text/javascript" src="./js/imagelightbox.min.js")
  script(type="text/javascript" src="./js/wow.min.js")   
  script(type="text/javascript" src="./js/jquery.unveil.min.js")  
  script(type="text/javascript" src="./js/doc.js")
  script(type="text/javascript" src="./js/prism.js")  