// Main Area ====================================================================

.row
	.col-md-12
		h2#main_sections
			i.fa.fa-indent
			|  Main Area
	.col-md-8

		h3#section_element The "Powerful" Section Element

		p.
			The <code>section</code> element is very powerful, flexible and plays a very important role in building the layout of your pages. By assigning the apropriate classes to it you can style its contents
			in many ways.