// Overview ====================================================================

.row

	.col-md-8#overview

		p(style="padding-top: 70px;").
			Xenia is a hotel &amp; resort oriented HTML5 Template, built to serve as a foundation for your web projects.
			The Design is based on fine typography and large photography.
			It is build with <a href="http://getbootstrap.com/">Twitter Bootstrap</a>, the front-end development framework with
			a steep learning curve that changes the way you develop sites. Xenia lets you build your pages with a great collection
			of section layouts and helper classes that offer extreme flexibility and pixel-perfect design.
		p.
			To use the template you have to be familiar with HTML &amp; CSS. The demo is self-explanatory and you can easily study the HTML files to discover how to customise the templates
			to your needs. This documentation covers some basics to help you get started... If you are a web developer you are about to boost your development workflow!	

	.col-md-4

		p(style="padding-top: 70px;")
			img(src="./images/plethora_logo.png" height="100")
			| <br><small>Designed by <a href="http://themeforest.net/user/andrewchs/portfolio" target="_blank">Andrewch</a>&nbsp;&amp;&nbsp;<a href="http://www.plethorathemes.com" target="_blank">Plethora Themes</a></small>		
	
	
// END Overview ================================================================