.sitemap.hidden-print(role="complementary" data-spy="affix" data-offset-top="144")
         
     .search
          i.fa.fa-search
          input#search(name="search" placeholder="Live Search" type="text" data-list=".list")           
     ul.nav

          //================= OVERVIEW =================//

          li
               a(href="#overview")
                    i.fa.fa-th-large
                    |  Overview

          //=============== REQUIREMENTS ===============//

          //=============== FILE CONTENTS ==============//

          //=========== WORDPRESS INFORMATION ===========//


          //========= GRID, LAYOUT AND STYLING =========//

          li
               a(href="#grid_layout_styling")
                    i.fa.fa-th-large
                    |  Grid, Layout &amp; Styling
               ul
                    li
                         a(href="#grid") Responsive Grid
                    li
                         a(href="#css") LESS, CSS &amp; Styling 
                    li
                         a(href="#javascript") Javascript           
                    li
                         a(href="#layout") General Layout
                    li
                         a(href="#styling") General Styling     
                                             
          //================== HEADER ==================//

          li
               a(href="#header")
                    i.fa.fa-hand-o-up
                    |  Header Section
               ul
                    li
                         a(href="#logo") Logo
                    li
                         a(href="#menu") Menu

          //=============== HEAD PANEL ==================//

          li
               a(href="#head_panel")
                    i.fa.fa-picture-o
                    |  Head Media Panel Section
               ul
                    li
                         a(href="#google_maps") Google Maps                   

          //================ MAIN AREA =================//

          li
               a(href="#main_sections")
                    i.fa.fa-indent
                    |  Main Area &amp; Design Elements
               ul
                    li
                         a(href="#section_element") The Section Element
                    li
                         a(href="#particles") Particles Effect
                    li
                         a(href="#3d_links") 3D Links Hover Effect
                    li
                         a(href="#portfolio") Portfolio
                    li
                         a(href="#before_after") Before After Showcase   
                    

          //================== FOOTER ==================//

          //li
               a(href="#footer")
                    i.fa.fa-hand-o-down
                    |  Footer &amp; Widgets

          //=============== CONTACT FORMS ==============//

          li
               a(href="#contact_forms")
                    i.fa.fa-envelope-o
                    |  Contact Forms, Appointment Forms, Newletter          
               ul
                    li
                         a(href="#quick_contact") Quick Contact Form
                    li
                         a(href="#appointment_form") Appointment Form
                    li
                         a(href="#newsletter") Newsletter

          //=================== APIS ===================//

          li
               a(href="#apis")
                    i.fa.fa-cog
                    |  External APIs            
               ul
                    li
                         a(href="#twitter") Twitter
                    li
                         a(href="#newsletter") Newsletter

          //================= ANIMATIONS ===============//

          li
               a(href="#animations")
                    i.fa.fa-magic
                    |  CSS Animations

          //================== SUPPORT =================//

          li
               a(href="#support")
                    i.fa.fa-life-ring
                    |  Support
.ex.sitemap_toggle
     span.lines                                                                                                                             