// Support ====================================================================

.row
	.col-md-12
		h2#support
			i.fa.fa-life-ring
			|  Support
	.col-md-8
		p
			| Support is offered via email: <strong> adreasch@gmail.com </strong>

// END Support ================================================================